body, html{
    height: 100%;
}


.login{
    background-color: #54c780;
    /*background-color: rgb(255,255,0);*/
    background-image: url("fundo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.login > .content{
    /*display: none;*/
    width: 320px;
}

.center{
    display: block;
    margin: 0 auto;
}

.login-form{
    margin-top: 78px;
}

.input-control > label {
    display: block;
}

.input-control > .input {
    height: 48px;
    width: calc(100% - 50px);
    border-radius: 24px;
    border-width: 0;
    background-color: #fff;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    padding: 0 25px;
}

.input-control > .input:focus {
    background: #f2f2f2;
}

/*@media()*/